.App {
  font-family: 'Nunito', sans-serif;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); */
  background: url('../public/beanstalk-dark.webp');
  /* background: url('../public/beanstalk-dark.webp'), radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); */
  /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)); */
  z-index: 0;  /* Places the circle behind the intro-section */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  width: 95%;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}


.intro-section {
  padding: 1rem;  /* adjusted padding for mobile */
  background-color: rgba(26, 26, 26, 0.7);
  border-radius: 20px;
  margin: 1rem;  /* adjusted margin for mobile */
  z-index: 1;
  box-shadow: 0px 10px 30px rgba(68, 68, 68, 0.5);
}

.component {
  border-radius: 20px;
  z-index: 1;
  width: 100vw;
  height: 80vh;
}

.snap-container {
  /* Set up the container to scroll vertically */
  overflow-y: scroll;
  height: 90vh;  /* Assuming you want viewport height sections */

  /* Set up snap scrolling */
  scroll-snap-type: y mandatory;
}

.snap-child {
  height: 90vh;
  scroll-snap-align: start;
}

.title-text {
  font-size: 4rem;
  line-height: 1;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.title-text #gold{
  color: #ffde59;
}

.slogan-text {
  font-size: 1.5rem; /* adjusted font-size for mobile */
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  width: 90%;  /* adjusted width for mobile */
  margin: 0 auto;
}

.nav-links {
  font-size: 1.5rem;
  color: #ffde59;
  margin-top: 2rem;  /* equivalent to Tailwind's mt-10 */
  letter-spacing: 0.25rem; /* additional spacing between letters */
}


.nav-links a {
  text-decoration: underline;
}
.nav-links span {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* For even larger screens (e.g., desktops) */
@media screen and (min-width: 1024px) {
  .intro-section {
    padding: 4rem;
    margin: 2rem;
  }

  .title-text {
    font-size: 8rem;
    padding: 1.5rem;
  }

  .slogan-text {
    font-size: 2rem;
    width: 50%;
  }

  .nav-links {
    font-size: 2rem;
  }
}

/* For larger screens (e.g., tablets, small laptops) */
@media screen and (min-width: 768px) {
  .intro-section {
    padding: 3rem;
    margin: 2rem;
  }

  .title-text {
    font-size: 6rem;
    padding: 0.5rem;
  }

  .slogan-text {
    font-size: 1.8rem;
    width: 60%;
  }

  .nav-links {
    font-size: 1.8rem;
  }
}